# Versioning and metadata
.git/
.gitignore
.dockerignore
.idea

**/node_modules

# Build dependencies
# dist/   
node_modules/

# Environment (contains sensitive data)
.env

# Files not required for production
.editorconfig
Dockerfile
README.md

package-lock.json
