agora_python_sdk==3.1.2.10
agora_token_builder==1.0.0
APScheduler==3.9.1
joblib==1.1.0
leancloud==2.9.10
matplotlib==3.5.2
numpy==1.22.3
onnxruntime==1.11.1
opencv_python==4.4.0.42
pandas==1.4.2
Pillow==9.1.1
plotly==5.8.0
PyQt5==5.15.6
PyYAML==6.0
scikit_learn==1.1.1
scipy==1.8.1
torch==1.10.1
torchvision==0.11.2
