<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.lee.baiduvoicedemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMain"
                  android:configChanges="orientation|keyboardHidden|screenLayout"
                  android:theme="@android:style/Theme.DeviceDefault.Light"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!-- begin: baidu speech sdk-->
        <!-- 请填写应用实际的APP_ID -->
        <meta-data android:name="com.baidu.speech.APP_ID" android:value="10068368"/>
        <!-- 请填写应用实际的API_KEY -->
        <meta-data android:name="com.baidu.speech.API_KEY" android:value="Cj0jf48NHHTD4uQpEGYVluI0"/>
        <!-- 请填写应用实际的SECRET_KEY -->
        <meta-data android:name="com.baidu.speech.SECRET_KEY" android:value="gL7Zf4GIg2i58xLnTnAr8bXGxye9hqYs"/>
        <service android:name="com.baidu.speech.VoiceRecognitionService" android:exported="false" />
        <activity
            android:name="com.baidu.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.Dialog"
            android:exported="false"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity
            android:name=".ApiActivity"
            android:label="普通模式(API方式和UI方式)"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.lee.baiduvoicedemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityWakeUp"
            android:label="语音唤醒"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.lee.baiduvoicedemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityOffline"
            android:label="离线语法"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.lee.baiduvoicedemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SynthesisActivity"
            android:label="语音合成"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.lee.baiduvoicedemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Setting"
            android:label="设置"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:theme="@android:style/Theme.DeviceDefault.Light"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.speech.asr.demo.setting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SynthSetting"
                  android:label="语音合成设置"
                  android:configChanges="orientation|keyboardHidden|screenLayout"
                  android:theme="@android:style/Theme.DeviceDefault.Light"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.speech.asr.demo.setting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".WakeSystemActivity"
                  android:configChanges="orientation|keyboardHidden|screenLayout"
                  android:theme="@android:style/Theme.DeviceDefault.Light"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.baidu.speech.asr.demo.setting" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- end : baidu speech sdk-->

        <service android:name=".VoiceService"
                 android:enabled="true"
                 android:exported="true">
            <intent-filter>
                <action android:name="com.lee.baiduvoicedemo.voiceservice"/>
            </intent-filter>
        </service>
        
    </application>

</manifest>